.footer {
	height: 220px;
	background-color: rgba(198,156,244,0.08);
	font-size: 1.4rem;
	line-height: 2.4rem;
	&-logo {
		margin: 12px 0 8px;
		height: 52px;
		min-width: 80px;
		max-width: 144px;
		background: url('../img/footer-logo.png') no-repeat left center;
		background-size: 180px 180px;
		background-origin: border-box;

		&__link {
			display: block;
			width: 100%;
			height: 100%;
		}
	}
	&-item {
		display: flex;
		&>a {
			color: #000;
		}
		&__socials {
			display: flex;
		}
		&__social {
			margin-left: 16px;
		}
	}
	&-app__link {
		color: #000;
		display: block;
		width: 100px;
		height: 40px;
		margin: 8px;
		outline: 1px red solid;
	}
}