.header {
	height: 156px;
	border-bottom: 1px #a866ee solid;
	font-family: 'Noto Sans', sans-serif;
	background-color: #fff;
	position: sticky;
	position: -webkit-sticky;
	z-index: 1;
	top: 0;
	box-shadow: 4px 12px 20px 0 rgba(229,209,250,0.2);
	&-logo {
		height: 80px;
		min-width: 80px;
		max-width: 180px;
		background: #fff url('../img/header-logo.png') no-repeat left center;
		background-size: 200px 200px;
		background-origin: border-box;
		&__link {
			display: block;
			width: 100%;
			height: 100%;
		}
	}
	&-ctr {
		height: 100%;
		display: flex;
		flex-direction: column;
		&__weather {
			line-height: 3.2rem;
			flex-grow: 1;
		}
		&__search {
			display: flex;
			align-items: center;
			margin: 4px auto;
			border-radius: 4px;
			overflow: hidden;
			outline: 1px #c69cf4 solid;
			&>form {
				display: flex;
				&>input[name="search"] {
					width: 100%;
					font-size: 1.5rem;
					padding: 4px 8px;
					outline: none;
					border: none;
				}
			}
			&-btn {
				background-color: #fff;
				border: none;
				margin-left: 8px;
				cursor: pointer;
				position: relative;
				&::before {
					content: "";
					position: absolute;
					z-index: 1;
					right: calc(100% + 4px);
					top: 10%;
					width: 1px;
					height: 80%;
					background-color: #e5d1fa;
				}
			}
		}
	}
	&-navbar {
		margin-top: 12px;
		height: 48px;
		color: var(--pri-clr);
		overflow: hidden;
		display: flex;
		justify-content: flex-start;
		&__home {
			display: inline-block;
			width: 48px;
			height: 100%;
			margin-left: 16px;
		}
	}
	&-identifer {
		display: flex;
		justify-content: flex-end;
		align-self: flex-end;
		width: 100%;
		font-size: 1.4rem;
		line-height: 2.4rem;
		margin: 16px 8px 16px 0;
		color: #320a5c;
		&__signin,
		&__signup {
			color: #320a5c
		}
	}
	&-accnt {
		border: 1px rgba(198,156,244,0.24) solid;
		transition: box-shadow 0.2s ease;
		box-shadow: 8px 8px 16px 8px rgba(198,156,244,0.12);
		border-radius: 20px;
		position: relative;
		&:hover {
			box-shadow: 4px 4px 8px 4px rgba(198,156,244,0.12);
			& .header-accnt-menu {
				box-shadow: 4px 4px 8px 4px rgba(198,156,244,0.12);
			}
		}
		&-ctn {
			min-width: 154px;
			display: flex;
			align-items: center;
			padding: 4px 8px;
			cursor: pointer;
			user-select: none;
		}
		&-avt {
			width: 36px;
			min-width: 36px;
			height: 36px;
			min-height: 32px;
			margin-left: 8px;
			border: 1px rgba(198,156,244,0.24) solid;
			box-shadow: 1px 1px 2px rgba(198,156,244,0.12);
			border-radius: 16px;
			background: #fff url() no-repeat center center;
			background-origin: border-box;
		}
		&-menu {
			display: none;
			position: absolute;
			top: calc(100% + 4px);
			left: 0;
			width: 100%;
			z-index: 1;
			background-color: #fff;
			border-radius: 16px;
			outline: 1px rgba(198,156,244,0.24) solid;
			overflow: hidden;
			box-shadow: 8px 8px 16px 8px rgba(198,156,244,0.12);
			transition: box-shadow 0.24s ease;
			&:hover {
				box-shadow: 4px 4px 8px 4px rgba(198,156,244,0.12);
			}
			&__item {
				position: relative;
				cursor: pointer;
				user-select: none;
				&:hover {
					background-color: rgba(198,156,244,0.24);
				}
				&:not(:first-child)::before {
					content: "";
					position: absolute;
					width: 60%;
					height: 1px;
					top: 0;
					left: 20%;
					background-color: rgba(198,156,244,0.16);
				}
				&:first-child > .header-accnt-menu__link{
					padding-top: 12px;
				}
				&:last-child > .header-accnt-menu__link{
					padding-bottom: 12px;
				}
			}
			&__link {
				padding: 8px 12px;
				display: inline-block;
				width: 100%;
				height: 100%;
				color: #320a5c;
			}
		}
	}
}

.slash {
	margin-left: 4px; 
	margin-right: 4px; 
}

.ctg {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-grow: 1;
	margin: 0 164px 0 116px;
	line-height: 48px;
	font-size: 2rem;
	min-width: 520px;
	max-width: 906px;
	&-item__link {
		margin: 0 8px;
		border-bottom-width: 50%;
		text-align: center;
		color: #320a5c;
		min-width: 88px;
		max-width: 180px;
		display: inline-block;
		height: 48px;
		line-height: 48px;
		position: relative;
		&:hover {
			&::before {
				width: 50%;
			}
			&::after {
				width: 50%;
			}
		}
		&::before {
			content: "";
			position: absolute;
			left: 50%;
			bottom: 0;
			height: 1px;
			width: 0;
			background-color: rgba(198,156,244,1);
			transition: width 0.32s ease;
		}
		&::after {
			content: "";
			position: absolute;
			right: 50%;
			bottom: 0;
			height: 1px;
			width: 0;
			background-color: rgba(198,156,244,1);
			transition: width 0.32s ease;
		}
	}
}